@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.img-box {
		@apply flex items-center justify-center overflow-hidden;
	}

	img {
		@apply w-full h-full object-contain;
	}

	.btn {
		@apply px-4 py-2.5 rounded-lg text-xl font-bold;
	}

	.btn.white {
		@apply bg-white-primary text-blue-risd;
	}

	.btn.orange {
		@apply bg-orange-dark text-white-primary;
	}

	.btn.outline-orange {
		@apply text-orange-dark bg-orange-dark/15;
	}

	.btn.blue {
		@apply bg-blue-risd text-white-primary;
	}

	.btn.outline-blue {
		@apply text-blue-risd bg-blue-risd/15;
	}
}

@layer base {
	@font-face {
		font-family: 'Yekan';
		src: url('./assets/font/BYekan.ttf');
	}

	body,
	html,
	* {
		font-family: 'Yekan';
	}
}
